/*  your css code here. If applicable */
.hero{
display: flex;
	
}
#div2{
width: 100%;
	
justify-content: center;	
align-items: center;
display: row;	
	
}
#imgs{
object-fit: cover;
width: 100%;
height: 100%;	
}
#button1{
background-color: red;
color: white;	
padding: 6px;	
	
}